<ion-content [fullscreen]="true" class="categories-content ion-padding">
  <div class="page-container">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
          <div class="title-container">
            <ion-icon name="pricetag-outline" color="primary"></ion-icon>
            <span>Categories</span>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="content-container">
      <ion-button expand="block" class="add-button" (click)="createCategoryModal()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Add New Category
      </ion-button>

      <ion-card class="categories-card">
        <ion-card-content>
          <ion-list lines="full">
            <ion-item *ngFor="let category of categories" class="category-item">
              <ion-label>
                <h2 class="category-name">{{ category.name }}</h2>
                <div class="color-preview">
                  <span class="color-dot" [style.backgroundColor]="category.color"></span>
                  <p class="color-text">{{ category.color }}</p>
                </div>
              </ion-label>
              <div class="action-buttons">
                <ion-button fill="clear" color="primary" [routerLink]="['/categories/edit', category.id]">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" (click)="deleteCategory(category.id!)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>