<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Transactions</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button expand="block" (click)="createTransactionmodal()">
      Add New Transaction
    </ion-button>

    <ion-list>
      <ion-item *ngFor="let transaction of transactions">
        <ion-label>
          <h2>{{ transaction.description }}</h2>
          <p>Amount: {{ transaction.amount | currency }}</p>
          <div class="category-display">
            <span class="category-color" [style.background]="getCategoryColor(transaction.categoryId)"></span>
            <span>Category: {{ getCategoryName(transaction.categoryId) }}</span>
          </div>
          <p>Date: {{ transaction.date | date:'long' }}</p>
        </ion-label>
        <ion-buttons>
          <ion-button (click)="deleteTransaction(transaction.id!)">
            Delete
          </ion-button>
          <ion-button [routerLink]="['/transactions/edit', transaction.id]" class="edit-button">
            Update
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>