<ion-header>
  <ion-toolbar>
    <ion-title>New Transaction</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Amount</ion-label>
        <ion-input type="number" formControlName="amount" placeholder="Enter amount"></ion-input>
      </ion-item>
      <div color="danger" *ngIf="transactionForm.get('amount')?.touched && transactionForm.get('amount')?.invalid">
        <small *ngIf="transactionForm.get('amount')?.errors?.['required']">Amount is required.</small>
        <small *ngIf="transactionForm.get('amount')?.errors?.['min']">Amount must be greater than 0.</small>
      </div>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input type="text" formControlName="description" placeholder="Enter description"></ion-input>
      </ion-item>
      <div *ngIf="transactionForm.get('description')?.touched && transactionForm.get('description')?.invalid">
        <small *ngIf="transactionForm.get('description')?.errors?.['required']">Description is required.</small>
        <small *ngIf="transactionForm.get('description')?.errors?.['maxlength']">Description is too long.</small>
      </div>

      <ion-item>
        <ion-label position="stacked">Category</ion-label>
        <ion-select formControlName="categoryId" placeholder="Select a Category">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="transactionForm.get('categoryId')?.touched && transactionForm.get('categoryId')?.invalid">
        <small *ngIf="transactionForm.get('categoryId')?.errors?.['required']"> Category is required.</small>
      </div>

      <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime formControlName="date"></ion-datetime>
      </ion-item>
      <div *ngIf="transactionForm.get('date')?.touched && transactionForm.get('date')?.invalid">
        <small *ngIf="transactionForm.get('categoryId')?.errors?.['required']">Date is required.</small>
      </div>
    </ion-list>

    <ion-button expand="block" type="submit">Save Transaction</ion-button>
  </form>
</ion-content>